// IE version variables
// ------------------------------------------------
$ie7: true !default;
$ie8: true !default;
$ie9: false !default;
$lt-ie9: $ie7;

// Compass cross-browser support configuration
// http://compass-style.org/reference/compass/support/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: $ie7;
$legacy-support-for-ie8: $ie8;

// settings for retinator telling it where to find our standard and retina icons

$sprites:        sprite-map("ico/*.png");
$sprites_retina: sprite-map("ico2x/*.png");

// // Vertical rhythm settings
// // ------------------------------------------------
// $base-font-size: 16px;
// $base-line-height: 1.5em;
// $round-to-nearest-half-line: true;
// $gutter-width: 24px;

// Root font-sizes. Set to half desired line-height of body text.
$rootsize-0: 12;                      // 24px line-height body text
$rootsize-1: 14;                      // 28px line-height body text
$rootsize-2: 15;                      // 30px line-height body text
$rootsize-3: 17;                      // 34px line-height body text
$rootsize-4: 18;                      // 36px line-height body text

// Control the line-length with max-width values for the container. Aim for 45-75 characters a line if possible, at smaller sizes type size is more important.
$maxwidth-0: #{500 / $rootsize-0}rem; // 500px wide
$maxwidth-1: #{520 / $rootsize-1}rem; // 520px wide
$maxwidth-2: #{550 / $rootsize-2}rem; // 550px wide
$maxwidth-3: #{620 / $rootsize-3}rem; // 620px wide
$maxwidth-4: #{700 / $rootsize-4}rem; // 700px wide

// Fonts
$sans-serif: 'Open Sans', sans-serif;
$serif: 'Gentium Book Basic', serif;
$default-font: $sans-serif;

// For an explanation of why "sans-serif" is at the end of this list
// @see http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$code-font:  "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Colors ---------------------------------------------------------------//
$black: #000;
$white: #fff;
$red: red;
$blue: blue;


// third-party colors
$facebook: #3B5998;
$twitter: #00adf2;
$youtube: #FF3333;
$googleplus: #da4018;
$tumblr: #415e7d;
$stumbleupon: #ea4b24;
$soundcloud: #ff6929;

// alert colors
$alert-status: #48704B;
$alert-warning: #C09853;
$alert-error: #D81D3C;

// borders
$border-color    				: $black;
$border-style					: solid;
$border-width 					: 1px;
$border-radius 					: 4px;

// =buttons ============

$button-padding 					: 6px 11px;

// Buttons have a default flat background colour
$button-background-color 			: $black;

// Set the default button’s border width. Default is $borderwidth defined above
$button-border-width				: $border-width;

// Set the default button’s border style
$button-border-style				: $border-style;

// By default border colour is a tint of background colour. Adjust percentage as required
$button-border-color 				: darken($button-background-color,10%);

// Sometimes you may want a darker bottom border to suggest three-dimensions
$button-bottom-border-color 		: darken($button-border-color, 5%);

// Set the default button’s border radius. Default is $border-radius defined above
$button-border-radius				: $border-radius;

// Set the button’s font-family. Default is $base-font-family defined above
$button-font-family 				: $sans-serif;

// Set the button’s font-size.
// Use only a number. Units (em/px/%) are not required
// Default is $base-font-size defined above
$button-font-size 				: $base-font-size;

// Set the default button’s text colour
// Colours for :hover and :active  are derived automatically from $buttoncolor
// Override colours for :hover and :active in _buttons.scss
$button-color 					: $white;

// Susy settings
// ------------------------------------------------
// Mobile first fluid grid
$total-columns: 4;
$column-width: (60px / $base-font-size) + 0em;
$gutter-width: (20px / $base-font-size) + 0em;
$grid-padding: (20px / $base-font-size) + 0em;
$container-style: fluid;

// Breakpoints
$narrow:      ((650px / $base-font-size) + 0em) 8;
$narrow-only: ((569px / $base-font-size) + 0em) 8 ((1024px / $base-font-size) + 0em);
$narrow-max:  8 ((1024px / $base-font-size) + 0em);
$wide:     ((1025px / $base-font-size) + 0em) 12;

// In IE7 & 8 at-breakpoint() blocks are scoped to a .lt-ie9 class instead of desktop or tablet media queries.
$breakpoint-media-output: not $lt-ie9;
$breakpoint-ie-output: $lt-ie9;