// Mixins =================================================== */

// Root font-size in %.
@mixin rootsize-0 { font-size: #{$rootsize-0 / 16 * 100%}; }
@mixin rootsize-1 { font-size: #{$rootsize-1 / 16 * 100%}; }
@mixin rootsize-2 { font-size: #{$rootsize-2 / 16 * 100%}; }
@mixin rootsize-3 { font-size: #{$rootsize-3 / 16 * 100%}; }
@mixin rootsize-4 { font-size: #{$rootsize-4 / 16 * 100%}; }

// Font-size in rems. Pixel fallbacks for full browser support.
@mixin fontsize-0($value) { font-size: #{$value / $rootsize-0}rem; }
@mixin fontsize-1($value) { font-size: #{$value / $rootsize-1}rem; }
@mixin fontsize-2($value) { font-size: #{$value / $rootsize-2}rem; }
@mixin fontsize-3($value) { font-size: #{$value / $rootsize-3}rem; }
@mixin fontsize-4($value) { font-size: #{$value / $rootsize-4}rem; }

@mixin text-overflow() {
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}

@mixin clip-text($img-url, $fallback-color: $white) {
  color: $fallback-color;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
              url($img-url) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}


@mixin css-hyphens($val:auto) {
  -webkit-hyphens : $val;
  -moz-hyphens : $val;
  -ms-hyphens : $val;
  -o-hyphens : $val;
  hyphens : $val;
}

@mixin smallcaps($color, $font-weight) {
  font-variant : small-caps;
  font-weight : $font-weight;
  text-transform : lowercase;
  color : $color;
}

// gradients

@mixin horizontal($startColor : $white, $endColor : $lightergrey) {
  background-color: $endColor;
  background-image  : -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
  background-image  : -webkit-linear-gradient(left, $startColor, $endColor);           // Safari 5.1+, Chrome 10+
  background-image  : -moz-linear-gradient(left, $startColor, $endColor);            // FF 3.6+
  background-image  : -ms-linear-gradient(left, $startColor, $endColor);             // IE10
  background-image  : -o-linear-gradient(left, $startColor, $endColor);              // Opera 11.10
  background-image  : linear-gradient(left, $startColor, $endColor);               // W3C
  background-repeat : repeat-x;
}

@mixin vertical($startColor : $white, $endColor:  $lightergrey) {
  background-image  : -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
  background-image  : -webkit-linear-gradient(top, $startColor, $endColor);            // Safari 5.1+, Chrome 10+
  background-color  : $endColor;
  background-image  : -moz-linear-gradient(top, $startColor, $endColor);             // FF 3.6+
  background-image  : -ms-linear-gradient(top, $startColor, $endColor);              // IE10
  background-image  : -o-linear-gradient(top, $startColor, $endColor);             // Opera 11.10
  background-image  : linear-gradient(top, $startColor, $endColor);                // W3C
  background-repeat : repeat-x;
}

@mixin directional($startColor : $white, $endColor : $lightergrey, $deg : 45deg) {
  background-color  : $endColor;
  background-image  : -moz-linear-gradient($deg, $startColor, $endColor);           // FF 3.6+
  background-image  : -ms-linear-gradient($deg, $startColor, $endColor);            // IE10
  background-image  : -webkit-linear-gradient($deg, $startColor, $endColor);          // Safari 5.1+, Chrome 10+
  background-image  : -o-linear-gradient($deg, $startColor, $endColor);             // Opera 11.10
  background-image  : linear-gradient($deg, $startColor, $endColor);              // W3C
  background-repeat : repeat-x;
}

// .bordered(COLOR, COLOR, COLOR, COLOR);

@mixin bordered($top-color: #eee, $right-color: #eee, $bottom-color: #eee, $left-color: #eee) {
  border-top : solid 1px $top-color;
  border-left : solid 1px $left-color;
  border-right : solid 1px $right-color;
  border-bottom : solid 1px $bottom-color;
}

// @include rounded(VALUE);

@mixin rounded($radius:4px) {
  -webkit-border-radius : $radius;
  -moz-border-radius : $radius;
  border-radius : $radius;
}

// @include border-radius(VALUE,VALUE,VALUE,VALUE);

@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
  -webkit-border-top-right-radius : $topright;
  -webkit-border-bottom-right-radius : $bottomright;
  -webkit-border-bottom-left-radius : $bottomleft;
  -webkit-border-top-left-radius : $topleft;
  -moz-border-radius-topright : $topright;
  -moz-border-radius-bottomright : $bottomright;
  -moz-border-radius-bottomleft : $bottomleft;
  -moz-border-radius-topleft : $topleft;
  border-top-right-radius : $topright;
  border-bottom-right-radius : $bottomright;
  border-bottom-left-radius : $bottomleft;
  border-top-left-radius : $topleft;
  -webkit-background-clip : padding-box;
  -moz-background-clip : padding;
  background-clip : padding-box;
}

// @include box-shadow(HORIZONTAL VERTICAL BLUR COLOR))

@mixin box-shadow($shadow...) {
  -webkit-box-shadow : $shadow;
  -moz-box-shadow : $shadow;
  box-shadow : $shadow;
}

// .drop-shadow(HORIZONTAL, VERTICAL, BLUR, ALPHA);

@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
  -webkit-box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  -moz-box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

// @include opacity(VALUE);

@mixin opacity($opacity : .5) {
  -webkit-opacity : $opacity;
  -moz-opacity : $opacity;
  opacity : $opacity;
}

@mixin keyframe ($animation_name) {
@-webkit-keyframes $animation_name {
@content; }

@-moz-keyframes $animation_name {
@content; }

@-o-keyframes $animation_name {
@content; }

@keyframes $animation_name {
@content; }
}

@mixin keyframes($name) {
@-o-keyframes $name { @content };
@-moz-keyframes $name { @content };
@-webkit-keyframes $name { @content };
@-keyframes $name { @content }; }

@mixin animation-name($name) {
-o-animation-name : $name;
-moz-animation-name : $name;
-webkit-animation-name : $name;
animation-name : $name; }

@mixin animation-duration($duration) {
-o-animation-duration : $duration;
-moz-animation-duration : $duration;
-webkit-animation-duration : $duration;
animation-duration: $duration; }

@mixin animation-delay($delay) {
-o-animation-delay : $delay;
-moz-animation-delay : $delay;
-webkit-animation-delay : $delay;
animation-delay : $delay; }

@mixin animation-timing-function($timing) {
-o-animation-timing-function : $timing;
-moz-animation-timing-function : $timing;
-webkit-animation-timing-function : $timing;
animation-timing-function : $timing; }

@mixin animation-iteration-count($count) {
-o-animation-iteration-count : $count;
-moz-animation-iteration-count : $count;
-webkit-animation-iteration-count : $count;
animation-iteration-count : $count; }

@mixin animation-direction($direction) {
-o-animation-direction : $direction;
-moz-animation-direction : $direction;
-webkit-animation-direction : $direction;
animation-direction: $direction; }

@mixin animation-fill-mode($fill) {
-o-animation-fill-mode : $fill;
-moz-animation-fill-mode : $fill;
-webkit-animation-fill-mode : $fill;
animation-fill-mode : $fill; }

@mixin animation-play-state($state) {
-o-animation-play-state : $state;
-moz-animation-play-state : $state;
-webkit-animation-play-state : $state;
animation-play-state : $state; }

@mixin animation($animation) {
-o-animation : $animation;
-moz-animation : $animation;
-webkit-animation : $animation;
animation: $animation; }


// .rotate(VALUEdeg);

@mixin rotate($deg) {
  -webkit-transform : rotate($deg);
  -moz-transform : rotate($deg);
  -ms-transform : rotate($deg);
  -o-transform : rotate($deg);
  transform : rotate($deg);
}

// .scale(VALUE);

@mixin scale($ratio) {
  -webkit-transform : scale($ratio);
  -moz-transform : scale($ratio);
  -ms-transform : scale($ratio);
  -o-transform : scale($ratio);
  transform : scale($ratio);
}

// .skew(VALUE, VALUE);

@mixin skew($x: 0, $y: 0) {
  -webkit-transform : skew($x, $y);
  -moz-transform : skew($x, $y);
  -ms-transform : skew($x, $y);
  -o-transform : skew($x, $y);
  transform : skew($x, $y);
}

// @include transition(PROPERTY DURATION DELAY(OPTIONAL) TIMING-FINCTION);

@mixin transition($transition...) {
  -webkit-transition : $transition;
  -moz-transition : $transition;
  -ms-transition : $transition;
  -o-transition : $transition;
  transition : $transition;
}

@mixin backface-visibility($property) {
  -webkit-backface-visibility: $property;
  -moz-backface-visibility: $property;
  -o-backface-visibility: $property;
  backface-visibility: $property;
}

// .translate(VALUE, VALUE)

@mixin translate($x: 0, $y: 0) {
  -webkit-transform : translate($x, $y);
  -moz-transform : translate($x, $y);
  -ms-transform : translate($x, $y);
  -o-transform : translate($x, $y);
  transform : translate($x, $y);
}

@mixin translate3d($x: 0, $y: 0, $z: 0) {
  -webkit-transform : translate($x, $y, $z);
  -moz-transform : translate($x, $y, $z);
  -ms-transform : translate($x, $y, $z);
  -o-transform : translate($x, $y, $z);
  transform : translate($x, $y, $z);
}

// columns(250px, 0, 24px, COLOR, solid, 1px)

@mixin columns($colwidth: 250px, $colcount: 0, $colgap: 50px, $columnRuleColor: #eee, $columnRuleStyle: solid, $columnRuleWidth: 1px) {
  -webkit-column-width : $colwidth;
  -webkit-column-count : $colcount;
  -webkit-column-gap : $colgap;
  -webkit-column-rule-color : $columnRuleColor;
  -webkit-column-rule-style : $columnRuleStyle;
  -webkit-column-rule-width : $columnRuleWidth;
  -moz-column-width : $colwidth;
  -moz-column-count : $colcount;
  -moz-column-gap : $colgap;
  -moz-column-rule-color : $columnRuleColor;
  -moz-column-rule-style : $columnRuleStyle;
  -moz-column-rule-width : $columnRuleWidth;
  column-width : $colwidth;
  column-count : $colcount;
  column-gap : $colgap;
  column-rule-color : $columnRuleColor;
  column-rule-style : $columnRuleStyle;
  column-rule-width : $columnRuleWidth;
}

// @include background-alpha(VALUE VALUE);

@mixin background-alpha($color: $white, $alpha: 1) {
  background-color : hsla(hue($color), saturation($color), lightness($color), $alpha);
}

// .background-size(VALUE VALUE);

@mixin background-size($size){
  -webkit-background-size : $size;
  -moz-background-size : $size;
  -o-background-size : $size;
  background-size : $size;
}

// .background-clip(VALUE); (border-box, padding-box, content-box)

@mixin background-clip($clip) {
  -webkit-background-clip : $clip;
  -moz-background-clip : $clip;
  background-clip : $clip;
}

// @include box-sizing(VALUE); (border-box, padding-box, content-box)

@mixin box-sizing($boxsize: border-box) {
  -webkit-box-sizing : $boxsize;
  -moz-box-sizing : $boxsize;
  -ms-box-sizing : $boxsize;
  box-sizing : $boxsize;
}

// Chrome Frame

@mixin chromeframe() {
  margin : .2em 0;
  background : $light-gray;
  color : $black;
  padding : .2em 0;
}

// Contain floats

@mixin clearfix {
  *zoom : 1;
    &:before, &:after {
      display: table;
      content : "";
    }
    &:after {
      clear : both;
    }
}

// For image replacement

@mixin hide-text() {
  text-indent : 100%;
  white-space : nowrap;
  overflow : hidden;
}

// Hide from visual and speaking browsers

@mixin hidden() {
  display : none !important;
  visibility : hidden;
}

// Hide but maintain layout

@mixin invisible() {
  visibility : hidden;
}

// @include resize(VALUE) (none, both, horizontal, vertical, inherit)

@mixin resize($direction: both) {
  resize : $direction;
  overflow : auto;
}

// .userselect(VALUE) (all, element, none, text)

@mixin user-select($select) {
  -webkit-user-select : $select;
  -moz-user-select : $select;
  -o-user-select : $select;
  user-select : $select;
}

// zero the margin and padding on an element

@mixin zero() {
  margin: 0;
  padding: 0;
}
// Hidden but available to speaking browsers

@mixin visuallyhidden() {
  overflow : hidden;
  position : absolute;
  clip : rect(0 0 0 0);
  height : 1px;
  width : 1px;
  margin : -1px;
  padding : 0;
  border : 0;
// Make visuallyhidden focusable with a keyboard

  &.focusable {

    &:active, &:focus {
      position : static;
      clip : auto;
      height : auto;
      width : auto;
      margin : 0;
      overflow: visible;
    }
  }
}

// @include placeholder(VALUE) (color)

@mixin placeholder($color : $neutralcolor) {

&:-moz-placeholder {
  color : $color;
}

&::-moz-placeholder {
  color : $color;
}

&:-ms-input-placeholder {
  color : $color;
}

&::-webkit-input-placeholder {
  color : $color;
}
}

// this will vertically align any element
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}