.breadcrumb {
	@include zero;
	list-style: none;
	background: darken($white, 5%);
	padding: 8px 15px;
	margin: $base-line-height 0;
	> li {
		display: inline;
		font-size: emCalc(14px);
		font-style: italic;
		&:before {
			content: "/";
			margin: 0 0.75em;
		}
		&:first-child:before {
			content: "";
			margin: 0;
		}
		> a {
			text-decoration: none;
			color: $sea;
			&:hover {
				//text-decoration: underline;
			}
		}
	}
}