.example {
	color: red;
}

// this is the module definition

// if you have --modifier versions of the module (below)
// consider extracting common parts to a 
// a %placeholder class and use @extend 

.example--modifier {
	@extend %example;

}

// extends the root module to create a different standalone module
// for example .example--large
// only @extend within modules - @extend anywhere else defeats the 
// purpose of extrapolating a module into its own file

.example__subcomponent {

}

// a subcomponent of .m-example module
// e.g. .example__close-button 

.example--is-hidden {

}

// a state specific to this module and can't use generic states

// this call is applied on top of the module class (by JS) so doesn't need
// to extend the original module

// resulting HTML could look like this
// <a href="#" class="example example--is-hiden">